<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reactive Form</title>
    <link rel="stylesheet" href="register-form.component.css" />
  </head>
  <body>
    <div class="form-container">
      <form [formGroup]="myform" (ngSubmit)="onSubmit()">
        <h2>Registration Form</h2>
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input
            type="text"
            id="first-name"
            formControlName="fname"
            name="first-name"
            [required]="true"
          />
        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input
            type="text"
            id="last-name"
            formControlName="lname"
            name="last-name"
            [required]="true"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            name="email"
            [required]="true"
          />
          <div
            *ngIf="myform.get('email')?.invalid && myform.get('email')?.touched"
          >
            <small *ngIf="myform.get('email')?.errors?.['required']" class="r1"
              >Email is required.</small
            >
            <small *ngIf="myform.get('email')?.errors?.['email']" class="r1"
              >Email is not valid.</small
            >
          </div>
        </div>
        <div class="form-group">
          <label for="Cemail">Confirm Email</label>
          <input
            type="email"
            id="Cemail"
            formControlName="Cemail"
            name="Cemail"
            [required]="true"
          />
          <div
            *ngIf="
              myform.errors?.['emailMismatch'] && myform.get('Cemail')?.touched
            "
          >
            <small class="r1">Emails do not match.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            formControlName="password"
            [required]="true"
          />
          <div
            *ngIf="
              myform.get('password')?.invalid && myform.get('password')?.touched
            "
          >
            <small
              *ngIf="myform.get('password')?.errors?.['required']"
              class="r1"
              >Password is required.</small
            >
            <small
              *ngIf="myform.get('password')?.errors?.['invalidPassword']"
              class="r1"
            >
              Password must be at least 8 characters long and contain a number.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="Cpassword">Confirm Password</label>
          <input
            type="password"
            id="Cpassword"
            name="Cpassword"
            formControlName="Cpassword"
            [required]="true"
          />
          <div
            *ngIf="
              myform.errors?.['passwordMismatch'] &&
              myform.get('Cpassword')?.touched   
            "
            class="r1"
          >
            <small>Passwords do not match.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="number"
            id="age"
            name="age"
            formControlName="age"
            [required]="true"
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            formControlName="phone"
            [required]="true"
          />
        </div>
        <button type="submit" [disabled]="myform.invalid">Submit</button>
      </form>
    </div>
  </body>
</html>
