<table class="table table-striped table-bordered table-custom">
  <thead>
    <tr>
      <th>Author</th>
      <th>Reference_id</th>

      <th>Publisher</th>
      <th>Summary</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ res1.items.result[0].author }}</td>
      <td>{{ res1.items.result[0].reference_id }}</td>
      <td>{{ res1.items.result[0].publisher }}</td>
      <td>{{ res1.items.result[0].summary }}</td>
      <td>{{ res1.items.result[0].title }}</td>
    </tr>
    <tr>
      <td>{{ res1.items.result[1].author }}</td>
      <td>{{ res1.items.result[1].reference_id }}</td>
      <td>{{ res1.items.result[1].publisher }}</td>
      <td>{{ res1.items.result[1].summary }}</td>
      <td>{{ res1.items.result[1].title }}</td>
    </tr>
    <tr>
      <td>{{ res1.items.result[2].author }}</td>
      <td>{{ res1.items.result[2].reference_id }}</td>
      <td>{{ res1.items.result[2].publisher }}</td>
      <td>{{ res1.items.result[2].summary }}</td>
      <td>{{ res1.items.result[2].title }}</td>
    </tr>
    <tr>
      <td>{{ res1.items.result[3].author }}</td>
      <td>{{ res1.items.result[3].reference_id }}</td>
      <td>{{ res1.items.result[3].publisher }}</td>
      <td>{{ res1.items.result[3].summary }}</td>
      <td>{{ res1.items.result[3].title }}</td>
    </tr>
    <tr>
      <td>{{ res1.items.result[4].author }}</td>
      <td>{{ res1.items.result[4].reference_id }}</td>
      <td>{{ res1.items.result[4].publisher }}</td>
      <td>{{ res1.items.result[4].summary }}</td>
      <td>{{ res1.items.result[4].title }}</td>
    </tr>
    <tr>
      <td>{{ res1.items.result[5].author }}</td>
      <td>{{ res1.items.result[5].reference_id }}</td>
      <td>{{ res1.items.result[5].publisher }}</td>
      <td>{{ res1.items.result[5].summary }}</td>
      <td>{{ res1.items.result[5].title }}</td>
    </tr>
    <tr>
      <td>{{ res1.items.result[6].author }}</td>
      <td>{{ res1.items.result[6].reference_id }}</td>
      <td>{{ res1.items.result[6].publisher }}</td>
      <td>{{ res1.items.result[6].summary }}</td>
      <td>{{ res1.items.result[6].title }}</td>
    </tr>
  </tbody>
</table>
