<!-- <div class="container mt-5">
  <h1>Welcome to my Angular App</h1>
  <p>This is the body of the application</p>
  <p>My first name is {{ firstName }}</p>

  <p>The Current time is : {{ currentTime() }}</p>
  <p>Hello, {{ user.name }} {{ user.lastName }}</p>
</div>
<img [src]="imageUrl" alt="" width="200" height="200" />
<button [disabled]="isDisabled">Click me</button>
<input type="text" [value]="inputValue" />
<button class="btn btn-primary" (click)="buttonClicked()">Save</button> -->
<!-- <app-data-bind></app-data-bind>
<app-parent></app-parent>
<app-parent1></app-parent1>
<app-todo-items></app-todo-items>
<app-parent2></app-parent2>
<app-addtocart></app-addtocart>
<app-switch></app-switch>
<app-checkbox></app-checkbox>
<app-ngstyle></app-ngstyle>
<app-ngclass></app-ngclass>
<p appCustom>hello modiji</p>
 -->
<!-- <app-dropdown-country></app-dropdown-country> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>-->
<!-- <app-reg-com></app-reg-com> -->
<!-- <app-biodata></app-biodata>
 <app-reactiveform></app-reactiveform> -->

<!-- <app-register-form></app-register-form> -->
<!-- <app-rapid-api></app-rapid-api>
<app-project-validation></app-project-validation>
<app-pipeconvert></app-pipeconvert>
<app-todo1></app-todo1>
<router-outlet></router-outlet>
<app-login></app-login> -->
<!-- <input type="text" placeholder="Enter value" (blur)="sendData($event)" />
<app-lifecyclehook [color]="parentData" *ngIf="!isDestroy">
  <p #projectedContent>{{ externalContent }}</p>
</app-lifecyclehook>
<app-header></app-header> -->
<!-- <app-product-list></app-product-list>
<app-addtocart2></app-addtocart2> -->
<!-- <button class="btn btn-danger" (click)="OnDestroy()">OnDestroy</button> -->
<app-project-validation></app-project-validation>
